<style>
  .navbar p.footer_text {
    text-align: center;
    margin: 0;
  }
</style>

<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-black">
    <p class="footer_text">
      My name is Dat Duong, I'm from Vietnam <br />
      © 2023 by Dat Duong
      <a href="https://github.com/datduong1205/asignment_3">|GitHub</a>
      <a href="https://www.linkedin.com/in/dat-duong-812a20232/">|LinkedIn</a>
    </p>
  </nav>
</footer>
