<% include partials/header.ejs %> <% include partials/main_nav.ejs %>

<main>
  <section id="banner">
    <div class="container">
      <div class="banner_heading">
        <p>WELCOME TO FITNESS TRACKER PRO</p>
        <h1>
          Access to All Exercise here: <br />
          <span>Fitness Tracker Pro</span><br />Live your Best Life.
        </h1>
      </div>
    </div>
  </section>
</main>

<% include partials/bottom_nav.ejs %> <% include partials/footer.ejs %>
